on post-fs-data
    mkdir /data/vendor/display 0770 system system

service vendor.livedisplay-hal-2-0-sm8250 /vendor/bin/hw/vendor.lineage.livedisplay@2.0-service.sm8250
    class hal
    user system
    group system